.button {
  background-color: $blue;
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight:$s-weight;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  &:hover {
    background: darken($blue, 5);
  }
}

.button--link {
  background: none;
  &:hover {
    background: none !important;
    color: darken(white, 10);
  }
}

.button--secondary {
  background: #888;
  &:hover {
    background-color: darken(#888, 10) !important;
  }
}

.button--clear-filters {
  border: none;
  border-radius: 0;
  color: white;
  font-size: $font-size-large;
  font-weight:$s-weight;
  line-height: 1;
  padding: $s-size;
  margin-bottom: $s-size;
  margin-top: $s-size;
  background: #7f9ff2;
  width: 100%;
  &:hover {
    background: darken(#7f9ff2, 5);
  }
}

.login-spacing {
  margin-bottom: $m-size;
  width: 90%;
}

.login-spacing-error {
  margin-bottom: $s-size * .7;
  width: 90%;
}


.button-login {
  background-color: $blue;
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  padding: $s-size * .7;
  font-weight:$s-weight;
  line-height: 1;
  text-decoration: none;
  &:hover {
    background: darken($blue, 5);
  }
}

.login-create-account-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



// Login Buttons
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: $s-size 0;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
