.form {
  display: flex;
  flex-direction: column;
  > * { //direct descendents and then select all of them with the universal selector
    margin-bottom: $m-size;
  }
}

.form__error {
  color: #cc0000;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.date-message {
  color: #b0b1b1;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.form-box-error {
  background: #fff0f4;
  border: 1px solid #cc0000;
}

.sdp-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #fff0f4;
}

.sdp-wrapper-error {
  background: #fff0f4;
  border: 1px solid #cc0000;
}
