.input-group {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 0;
  @media (max-width: $mobile-breakpoint) {
    flex-direction:column;
    margin-bottom: $m-size;
    align-items: center;
  }
}

.input-filter-combo {
  @extend .input-group;
  @media (max-width: $mobile-breakpoint) {
    flex-direction:row;
  }
}

.input-group__item {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: $m-size;
  }
}

.input-group__button {
  margin-bottom: $l-size;
  @media(max-width: $mobile-breakpoint) {
    margin-bottom: $m-size;
  }
}
