.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: $s-weight;
  padding: $s-size;
}


.select {
  @extend .text-input;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.text-area {
  @extend .text-input;
  height: 10rem;
  resize: none;
}

.filters-normal {
  background: url('/images/arrow-down.png');
  border:1px solid #cacccd;
  border-radius: 0;
  border-left: none;
  background-size: 100% 100%;
  margin-left: 0;
  width: 50px;
  height: 50px;
}
.filters-reversed {
  background: url('/images/arrow-up.png');
  border:1px solid #cacccd;
  border-radius: 0;
  border-left: none;
  background-size: 100% 100%;
  margin-left: 0;
  width: 50px;
  height: 50px;
}
