.input-group {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  margin: 0;
  @media (max-width: $mobile-breakpoint) {
    flex-direction:column;
  }
}

.search-div {
  margin-bottom: $s-size;
}
.sdp-div {
  width: 100%;
}

.minmax-div {
  display: flex;
  flex-direction: row;
  width:50%;
  @media(max-width: $mobile-breakpoint){
    width:100%;
  }
}

.input-filter-combo {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-left: $l-size;
    @media (max-width: $mobile-breakpoint) {
    flex-direction:row;
    width: 100%;
    margin-bottom: $xs-size;
  }
}

.input-group__item {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: $xs-size;
    width: 100%;
  }
}

.input-group__button {
  margin-bottom: $l-size;
  @media(max-width: $mobile-breakpoint) {
    margin-bottom: $m-size;
    margin-top: 0;
  }
}
