.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: $s-weight;
  padding: $s-size;
  @media(max-width: $mobile-breakpoint) {
    width: 100%;
  }
}


.select {
  @extend .text-input;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  @media (max-width: $mobile-breakpoint) {
    width: 80%;
  }
}

.text-area {
  @extend .text-input;
  height: 10rem;
  resize: none;
}

.filters-normal {
  background: url('/images/arrow-down.png');
  border:1px solid #cacccd;
  border-radius: 0;
  border-left: none;
  background-size: 100% 100%;
  margin-left: 0;
  width: 50px;
  height: 50px;
}
.filters-reversed {
  background: url('/images/arrow-up.png');
  border:1px solid #cacccd;
  border-radius: 0;
  border-left: none;
  background-size: 100% 100%;
  margin-left: 0;
  width: 50px;
  height: 50px;
}

.input-filter-button {
  @media(max-width: $mobile-breakpoint) {
    width:20%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
