//Colors

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$mobile-breakpoint: 45rem;

//Font Weight
$m-weight: 500;
//HSL
$disabled: .5;

//Border Radius
$s-border-radius: .5em;
$m-border-radius: 1em;
